# Project Dependencies
Flask==2.2
Werkzeug==2.2.2
GitPython==3.1.40
SQLAlchemy==2.0.25
Flask-SQLAlchemy==3.0.3
# Installing psycopg2_binary instead of psycopg2
psycopg2_binary==2.8.4
# No rust perequisite for bcrpyt when using <=3.2.2
bcrypt==3.2.2