:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-container-color: #f0f0f0;
  --on-primary-container-color: #333333;
  --divider-color: #cccccc;
  --dark-background-color: #121212;
  --dark-text-color: #ffffff;
  --dark-primary-container-color: #333333;
  --dark-on-primary-container-color: #eeeeee;
  --dark-divider-color: #444444;
  --m-3white: rgba(255, 255, 255, 1);
  --m-3black: rgba(0, 0, 0, 1);
  --m-3syslightprimary: rgba(103, 80, 164, 1);
  --m3syslighton-primary: rgba(255, 255, 255, 1);
  --m3syslightprimary-container: rgba(234, 221, 255, 1);
  --m3syslighton-primary-container: rgba(33, 0, 93, 1);
  --m3syslightprimary-fixed: rgba(234, 221, 255, 1);
  --m3syslighton-primary-fixed: rgba(33, 0, 93, 1);
  --m3syslightprimary-fixed-dim: rgba(208, 188, 255, 1);
  --m3syslighton-primary-fixed-variant: rgba(79, 55, 139, 1);
  --m-3syslightsecondary: rgba(98, 91, 113, 1);
  --m3syslighton-secondary: rgba(255, 255, 255, 1);
  --m3syslightsecondary-container: rgba(232, 222, 248, 1);
  --m3syslighton-secondary-container: rgba(29, 25, 43, 1);
  --m3syslightsecondary-fixed: rgba(232, 222, 248, 1);
  --m3syslighton-secondary-fixed: rgba(29, 25, 43, 1);
  --m3syslightsecondary-fixed-dim: rgba(204, 194, 220, 1);
  --m3syslighton-secondary-fixed-variant: rgba(74, 68, 88, 1);
  --m-3syslighttertiary: rgba(125, 82, 96, 1);
  --m3syslighton-tertiary: rgba(255, 255, 255, 1);
  --m3syslighttertiary-container: rgba(255, 216, 228, 1);
  --m3syslighton-tertiary-container: rgba(49, 17, 29, 1);
  --m3syslighttertiary-fixed: rgba(255, 216, 228, 1);
  --m3syslighton-tertiary-fixed: rgba(49, 17, 29, 1);
  --m3syslighttertiary-fixed-dim: rgba(239, 184, 200, 1);
  --m3syslighton-tertiary-fixed-variant: rgba(99, 59, 72, 1);
  --m-3syslighterror: rgba(179, 38, 30, 1);
  --m3syslighton-error: rgba(255, 255, 255, 1);
  --m3syslighterror-container: rgba(249, 222, 220, 1);
  --m3syslighton-error-container: rgba(65, 14, 11, 1);
  --m-3syslightoutline: rgba(121, 116, 126, 1);
  --m-3syslightbackground: rgba(254, 247, 255, 1);
  --m3syslighton-background: rgba(29, 27, 32, 1);
  --m-3syslightsurface: rgba(254, 247, 255, 1);
  --m3syslighton-surface: rgba(29, 27, 32, 1);
  --m3syslightsurface-variant: rgba(231, 224, 236, 1);
  --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
  --m3syslightinverse-surface: rgba(50, 47, 53, 1);
  --m3syslightinverse-on-surface: rgba(245, 239, 247, 1);
  --m3syslightinverse-primary: rgba(208, 188, 255, 1);
  --m-3syslightshadow: rgba(0, 0, 0, 1);
  --m3syslightsurface-tint: rgba(103, 80, 164, 1);
  --m3syslightoutline-variant: rgba(202, 196, 208, 1);
  --m-3syslightscrim: rgba(0, 0, 0, 1);
  --m3syslightsurface-container-highest: rgba(230, 224, 233, 1);
  --m3syslightsurface-container-high: rgba(236, 230, 240, 1);
  --m3syslightsurface-container: rgba(243, 237, 247, 1);
  --m3syslightsurface-container-low: rgba(247, 242, 250, 1);
  --m3syslightsurface-container-lowest: rgba(255, 255, 255, 1);
  --m3syslightsurface-bright: rgba(254, 247, 255, 1);
  --m3syslightsurface-dim: rgba(222, 216, 225, 1);
  --m-3sysdarkprimary: rgba(208, 188, 255, 1);
  --m3sysdarkon-primary: rgba(56, 30, 114, 1);
  --m3sysdarkprimary-container: rgba(79, 55, 139, 1);
  --m3sysdarkon-primary-container: rgba(234, 221, 255, 1);
  --m3sysdarkprimary-fixed: rgba(234, 221, 255, 1);
  --m3sysdarkon-primary-fixed: rgba(33, 0, 93, 1);
  --m3sysdarkprimary-fixed-dim: rgba(208, 188, 255, 1);
  --m3sysdarkon-primary-fixed-variant: rgba(79, 55, 139, 1);
  --m-3sysdarksecondary: rgba(204, 194, 220, 1);
  --m3sysdarkon-secondary: rgba(51, 45, 65, 1);
  --m3sysdarksecondary-container: rgba(74, 68, 88, 1);
  --m3sysdarkon-secondary-container: rgba(232, 222, 248, 1);
  --m3sysdarksecondary-fixed: rgba(232, 222, 248, 1);
  --m3sysdarkon-secondary-fixed: rgba(29, 25, 43, 1);
  --m3sysdarksecondary-fixed-dim: rgba(204, 194, 220, 1);
  --m3sysdarkon-secondary-fixed-variant: rgba(74, 68, 88, 1);
  --m-3sysdarktertiary: rgba(239, 184, 200, 1);
  --m3sysdarkon-tertiary: rgba(73, 37, 50, 1);
  --m3sysdarktertiary-container: rgba(99, 59, 72, 1);
  --m3sysdarkon-tertiary-container: rgba(255, 216, 228, 1);
  --m3sysdarktertiary-fixed: rgba(255, 216, 228, 1);
  --m3sysdarkon-tertiary-fixed: rgba(49, 17, 29, 1);
  --m3sysdarktertiary-fixed-dim: rgba(239, 184, 200, 1);
  --m3sysdarkon-tertiary-fixed-variant: rgba(99, 59, 72, 1);
  --m-3sysdarkerror: rgba(242, 184, 181, 1);
  --m3sysdarkon-error: rgba(96, 20, 16, 1);
  --m3sysdarkerror-container: rgba(140, 29, 24, 1);
  --m3sysdarkon-error-container: rgba(249, 222, 220, 1);
  --m-3sysdarkoutline: rgba(147, 143, 153, 1);
  --m-3sysdarkbackground: rgba(20, 18, 24, 1);
  --m3sysdarkon-background: rgba(230, 224, 233, 1);
  --m-3sysdarksurface: rgba(20, 18, 24, 1);
  --m3sysdarkon-surface: rgba(230, 224, 233, 1);
  --m3sysdarksurface-variant: rgba(73, 69, 79, 1);
  --m3sysdarkon-surface-variant: rgba(202, 196, 208, 1);
  --m3sysdarkinverse-surface: rgba(230, 224, 233, 1);
  --m3sysdarkinverse-on-surface: rgba(50, 47, 53, 1);
  --m3sysdarkinverse-primary: rgba(103, 80, 164, 1);
  --m-3sysdarkshadow: rgba(0, 0, 0, 1);
  --m3sysdarksurface-tint: rgba(208, 188, 255, 1);
  --m3sysdarkoutline-variant: rgba(73, 69, 79, 1);
  --m-3sysdarkscrim: rgba(0, 0, 0, 1);
  --m3sysdarksurface-container-highest: rgba(54, 52, 59, 1);
  --m3sysdarksurface-container-high: rgba(43, 41, 48, 1);
  --m3sysdarksurface-container: rgba(33, 31, 38, 1);
  --m3sysdarksurface-container-low: rgba(29, 27, 32, 1);
  --m3sysdarksurface-container-lowest: rgba(15, 13, 19, 1);
  --m3sysdarksurface-bright: rgba(59, 56, 62, 1);
  --m3sysdarksurface-dim: rgba(20, 18, 24, 1);
  --m-3refprimaryprimary-0: rgba(0, 0, 0, 1);
  --m-3refprimaryprimary-10: rgba(33, 0, 93, 1);
  --m-3refprimaryprimary-20: rgba(56, 30, 114, 1);
  --m-3refprimaryprimary-30: rgba(79, 55, 139, 1);
  --m-3refprimaryprimary-40: rgba(103, 80, 164, 1);
  --m-3refprimaryprimary-50: rgba(127, 103, 190, 1);
  --m-3refprimaryprimary-60: rgba(154, 130, 219, 1);
  --m-3refprimaryprimary-70: rgba(182, 157, 248, 1);
  --m-3refprimaryprimary-80: rgba(208, 188, 255, 1);
  --m-3refprimaryprimary-90: rgba(234, 221, 255, 1);
  --m-3refprimaryprimary-95: rgba(246, 237, 255, 1);
  --m-3refprimaryprimary-99: rgba(255, 251, 254, 1);
  --m-3refprimaryprimary-100: rgba(255, 255, 255, 1);
  --m-3refsecondarysecondary-0: rgba(0, 0, 0, 1);
  --m-3refsecondarysecondary-10: rgba(29, 25, 43, 1);
  --m-3refsecondarysecondary-20: rgba(51, 45, 65, 1);
  --m-3refsecondarysecondary-30: rgba(74, 68, 88, 1);
  --m-3refsecondarysecondary-40: rgba(98, 91, 113, 1);
  --m-3refsecondarysecondary-50: rgba(122, 114, 137, 1);
  --m-3refsecondarysecondary-60: rgba(149, 141, 165, 1);
  --m-3refsecondarysecondary-70: rgba(176, 167, 192, 1);
  --m-3refsecondarysecondary-80: rgba(204, 194, 220, 1);
  --m-3refsecondarysecondary-90: rgba(232, 222, 248, 1);
  --m-3refsecondarysecondary-95: rgba(246, 237, 255, 1);
  --m-3refsecondarysecondary-99: rgba(255, 251, 254, 1);
  --m-3refsecondarysecondary-100: rgba(255, 255, 255, 1);
  --m-3reftertiarytertiary-0: rgba(0, 0, 0, 1);
  --m-3reftertiarytertiary-10: rgba(49, 17, 29, 1);
  --m-3reftertiarytertiary-20: rgba(73, 37, 50, 1);
  --m-3reftertiarytertiary-30: rgba(99, 59, 72, 1);
  --m-3reftertiarytertiary-40: rgba(125, 82, 96, 1);
  --m-3reftertiarytertiary-50: rgba(152, 105, 119, 1);
  --m-3reftertiarytertiary-60: rgba(181, 131, 146, 1);
  --m-3reftertiarytertiary-70: rgba(210, 157, 172, 1);
  --m-3reftertiarytertiary-80: rgba(239, 184, 200, 1);
  --m-3reftertiarytertiary-90: rgba(255, 216, 228, 1);
  --m-3reftertiarytertiary-95: rgba(255, 236, 241, 1);
  --m-3reftertiarytertiary-99: rgba(255, 251, 250, 1);
  --m-3reftertiarytertiary-100: rgba(255, 255, 255, 1);
  --m-3referrorerror-0: rgba(0, 0, 0, 1);
  --m-3referrorerror-10: rgba(65, 14, 11, 1);
  --m-3referrorerror-20: rgba(96, 20, 16, 1);
  --m-3referrorerror-30: rgba(140, 29, 24, 1);
  --m-3referrorerror-40: rgba(179, 38, 30, 1);
  --m-3referrorerror-50: rgba(220, 54, 46, 1);
  --m-3referrorerror-60: rgba(228, 105, 98, 1);
  --m-3referrorerror-70: rgba(236, 146, 142, 1);
  --m-3referrorerror-80: rgba(242, 184, 181, 1);
  --m-3referrorerror-90: rgba(249, 222, 220, 1);
  --m-3referrorerror-95: rgba(252, 238, 238, 1);
  --m-3referrorerror-99: rgba(255, 251, 249, 1);
  --m-3referrorerror-100: rgba(255, 255, 255, 1);
  --m-3refneutralneutral-0: rgba(0, 0, 0, 1);
  --m-3refneutralneutral-4: rgba(15, 13, 19, 1);
  --m-3refneutralneutral-6: rgba(20, 18, 24, 1);
  --m-3refneutralneutral-10: rgba(29, 27, 32, 1);
  --m-3refneutralneutral-12: rgba(33, 31, 38, 1);
  --m-3refneutralneutral-17: rgba(43, 41, 48, 1);
  --m-3refneutralneutral-20: rgba(50, 47, 53, 1);
  --m-3refneutralneutral-22: rgba(54, 52, 59, 1);
  --m-3refneutralneutral-24: rgba(59, 56, 62, 1);
  --m-3refneutralneutral-30: rgba(72, 70, 76, 1);
  --m-3refneutralneutral-40: rgba(96, 93, 100, 1);
  --m-3refneutralneutral-50: rgba(121, 118, 125, 1);
  --m-3refneutralneutral-60: rgba(147, 143, 150, 1);
  --m-3refneutralneutral-70: rgba(174, 169, 177, 1);
  --m-3refneutralneutral-80: rgba(202, 197, 205, 1);
  --m-3refneutralneutral-87: rgba(222, 216, 225, 1);
  --m-3refneutralneutral-90: rgba(230, 224, 233, 1);
  --m-3refneutralneutral-92: rgba(236, 230, 240, 1);
  --m-3refneutralneutral-94: rgba(243, 237, 247, 1);
  --m-3refneutralneutral-95: rgba(245, 239, 247, 1);
  --m-3refneutralneutral-96: rgba(247, 242, 250, 1);
  --m-3refneutralneutral-99: rgba(255, 251, 255, 1);
  --m-3refneutralneutral-100: rgba(255, 255, 255, 1);
  --m3refneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
  --m3refneutral-variantneutral-variant10: rgba(29, 26, 34, 1);
  --m3refneutral-variantneutral-variant20: rgba(50, 47, 55, 1);
  --m3refneutral-variantneutral-variant30: rgba(73, 69, 79, 1);
  --m3refneutral-variantneutral-variant40: rgba(96, 93, 102, 1);
  --m3refneutral-variantneutral-variant50: rgba(121, 116, 126, 1);
  --m3refneutral-variantneutral-variant60: rgba(147, 143, 153, 1);
  --m3refneutral-variantneutral-variant70: rgba(174, 169, 180, 1);
  --m3refneutral-variantneutral-variant80: rgba(202, 196, 208, 1);
  --m3refneutral-variantneutral-variant90: rgba(231, 224, 236, 1);
  --m3refneutral-variantneutral-variant95: rgba(245, 238, 250, 1);
  --m3refneutral-variantneutral-variant99: rgba(255, 251, 254, 1);
  --m3refneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
  --m3key-colorsprimary: rgba(103, 80, 164, 1);
  --m-3sourceseed: rgba(103, 80, 164, 1);
  --m-3surfaceslightsurface-1: rgba(254, 247, 255, 1);
  --m-3surfaceslightsurface-2: rgba(254, 247, 255, 1);
  --m-3surfaceslightsurface-3: rgba(254, 247, 255, 1);
  --m-3surfaceslightsurface-4: rgba(254, 247, 255, 1);
  --m-3surfaceslightsurface-5: rgba(254, 247, 255, 1);
  --m-3surfacesdarksurface-1: rgba(20, 18, 24, 1);
  --m-3surfacesdarksurface-2: rgba(20, 18, 24, 1);
  --m-3surfacesdarksurface-3: rgba(20, 18, 24, 1);
  --m-3surfacesdarksurface-4: rgba(20, 18, 24, 1);
  --m-3surfacesdarksurface-5: rgba(20, 18, 24, 1);
  --m3state-layerslightprimaryopacity-008: rgba(103, 80, 164, 0.08);
  --m3state-layerslightprimaryopacity-012: rgba(103, 80, 164, 0.12);
  --m3state-layerslightprimaryopacity-016: rgba(103, 80, 164, 0.16);
  --m3state-layerslighton-primaryopacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslighton-primaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslighton-primaryopacity-016: rgba(255, 255, 255, 0.16);
  --m3state-layerslightprimary-containeropacity-008: rgba(234, 221, 255, 0.08);
  --m3state-layerslightprimary-containeropacity-012: rgba(234, 221, 255, 0.12);
  --m3state-layerslightprimary-containeropacity-016: rgba(234, 221, 255, 0.16);
  --m3state-layerslighton-primary-containeropacity-008: rgba(33, 0, 93, 0.08);
  --m3state-layerslighton-primary-containeropacity-012: rgba(33, 0, 93, 0.12);
  --m3state-layerslighton-primary-containeropacity-016: rgba(33, 0, 93, 0.16);
  --m3state-layerslightprimary-fixedopacity-008: rgba(234, 221, 255, 0.08);
  --m3state-layerslightprimary-fixedopacity-012: rgba(234, 221, 255, 0.12);
  --m3state-layerslightprimary-fixedopacity-016: rgba(234, 221, 255, 0.16);
  --m3state-layerslighton-primary-fixedopacity-008: rgba(33, 0, 93, 0.08);
  --m3state-layerslighton-primary-fixedopacity-012: rgba(33, 0, 93, 0.12);
  --m3state-layerslighton-primary-fixedopacity-016: rgba(33, 0, 93, 0.16);
  --m3state-layerslightprimary-fixed-dimopacity-008: rgba(208, 188, 255, 0.08);
  --m3state-layerslightprimary-fixed-dimopacity-012: rgba(208, 188, 255, 0.12);
  --m3state-layerslightprimary-fixed-dimopacity-016: rgba(208, 188, 255, 0.16);
  --m3state-layerslighton-primary-fixed-variantopacity-008: rgba(79, 55, 139, 0.08);
  --m3state-layerslighton-primary-fixed-variantopacity-012: rgba(79, 55, 139, 0.12);
  --m3state-layerslighton-primary-fixed-variantopacity-016: rgba(79, 55, 139, 0.16);
  --m3state-layerslightsecondaryopacity-008: rgba(98, 91, 113, 0.08);
  --m3state-layerslightsecondaryopacity-012: rgba(98, 91, 113, 0.12);
  --m3state-layerslightsecondaryopacity-016: rgba(98, 91, 113, 0.16);
  --m3state-layerslighton-secondaryopacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslighton-secondaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslighton-secondaryopacity-016: rgba(255, 255, 255, 0.16);
  --m3state-layerslightsecondary-containeropacity-008: rgba(232, 222, 248, 0.08);
  --m3state-layerslightsecondary-containeropacity-012: rgba(232, 222, 248, 0.12);
  --m3state-layerslightsecondary-containeropacity-016: rgba(232, 222, 248, 0.16);
  --m3state-layerslighton-secondary-containeropacity-008: rgba(29, 25, 43, 0.08);
  --m3state-layerslighton-secondary-containeropacity-012: rgba(29, 25, 43, 0.12);
  --m3state-layerslighton-secondary-containeropacity-016: rgba(29, 25, 43, 0.16);
  --m3state-layerslightsecondary-fixedopacity-008: rgba(232, 222, 248, 0.08);
  --m3state-layerslightsecondary-fixedopacity-012: rgba(232, 222, 248, 0.12);
  --m3state-layerslightsecondary-fixedopacity-016: rgba(232, 222, 248, 0.16);
  --m3state-layerslighton-secondary-fixedopacity-008: rgba(29, 25, 43, 0.08);
  --m3state-layerslighton-secondary-fixedopacity-012: rgba(29, 25, 43, 0.12);
  --m3state-layerslighton-secondary-fixedopacity-016: rgba(29, 25, 43, 0.16);
  --m3state-layerslightsecondary-fixed-dimopacity-008: rgba(204, 194, 220, 0.08);
  --m3state-layerslightsecondary-fixed-dimopacity-012: rgba(204, 194, 220, 0.12);
  --m3state-layerslightsecondary-fixed-dimopacity-016: rgba(204, 194, 220, 0.16);
  --m3state-layerslighton-secondary-fixed-variantopacity-008: rgba(74, 68, 88, 0.08);
  --m3state-layerslighton-secondary-fixed-variantopacity-012: rgba(74, 68, 88, 0.12);
  --m3state-layerslighton-secondary-fixed-variantopacity-016: rgba(74, 68, 88, 0.16);
  --m3state-layerslighttertiaryopacity-008: rgba(125, 82, 96, 0.08);
  --m3state-layerslighttertiaryopacity-012: rgba(125, 82, 96, 0.12);
  --m3state-layerslighttertiaryopacity-016: rgba(125, 82, 96, 0.16);
  --m3state-layerslighton-tertiaryopacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslighton-tertiaryopacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslighton-tertiaryopacity-016: rgba(255, 255, 255, 0.16);
  --m3state-layerslighttertiary-containeropacity-008: rgba(255, 216, 228, 0.08);
  --m3state-layerslighttertiary-containeropacity-012: rgba(255, 216, 228, 0.12);
  --m3state-layerslighttertiary-containeropacity-016: rgba(255, 216, 228, 0.16);
  --m3state-layerslighton-tertiary-containeropacity-008: rgba(49, 17, 29, 0.08);
  --m3state-layerslighton-tertiary-containeropacity-012: rgba(49, 17, 29, 0.12);
  --m3state-layerslighton-tertiary-containeropacity-016: rgba(49, 17, 29, 0.16);
  --m3state-layerslighttertiary-fixedopacity-008: rgba(255, 216, 228, 0.08);
  --m3state-layerslighttertiary-fixedopacity-012: rgba(255, 216, 228, 0.12);
  --m3state-layerslighttertiary-fixedopacity-016: rgba(255, 216, 228, 0.16);
  --m3state-layerslighton-tertiary-fixedopacity-008: rgba(49, 17, 29, 0.08);
  --m3state-layerslighton-tertiary-fixedopacity-012: rgba(49, 17, 29, 0.12);
  --m3state-layerslighton-tertiary-fixedopacity-016: rgba(49, 17, 29, 0.16);
  --m3state-layerslighttertiary-fixed-dimopacity-008: rgba(239, 184, 200, 0.08);
  --m3state-layerslighttertiary-fixed-dimopacity-012: rgba(239, 184, 200, 0.12);
  --m3state-layerslighttertiary-fixed-dimopacity-016: rgba(239, 184, 200, 0.16);
  --m3state-layerslighton-tertiary-fixed-variantopacity-008: rgba(99, 59, 72, 0.08);
  --m3state-layerslighton-tertiary-fixed-variantopacity-012: rgba(99, 59, 72, 0.12);
  --m3state-layerslighton-tertiary-fixed-variantopacity-016: rgba(99, 59, 72, 0.16);
  --m3state-layerslighterroropacity-008: rgba(179, 38, 30, 0.08);
  --m3state-layerslighterroropacity-012: rgba(179, 38, 30, 0.12);
  --m3state-layerslighterroropacity-016: rgba(179, 38, 30, 0.16);
  --m3state-layerslighton-erroropacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslighton-erroropacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslighton-erroropacity-016: rgba(255, 255, 255, 0.16);
  --m3state-layerslighterror-containeropacity-008: rgba(249, 222, 220, 0.08);
  --m3state-layerslighterror-containeropacity-012: rgba(249, 222, 220, 0.12);
  --m3state-layerslighterror-containeropacity-016: rgba(249, 222, 220, 0.16);
  --m3state-layerslighton-error-containeropacity-008: rgba(65, 14, 11, 0.08);
  --m3state-layerslighton-error-containeropacity-012: rgba(65, 14, 11, 0.12);
  --m3state-layerslighton-error-containeropacity-016: rgba(65, 14, 11, 0.16);
  --m3state-layerslightoutlineopacity-008: rgba(121, 116, 126, 0.08);
  --m3state-layerslightoutlineopacity-012: rgba(121, 116, 126, 0.12);
  --m3state-layerslightoutlineopacity-016: rgba(121, 116, 126, 0.16);
  --m3state-layerslightbackgroundopacity-008: rgba(254, 247, 255, 0.08);
  --m3state-layerslightbackgroundopacity-012: rgba(254, 247, 255, 0.12);
  --m3state-layerslightbackgroundopacity-016: rgba(254, 247, 255, 0.16);
  --m3state-layerslighton-backgroundopacity-008: rgba(29, 27, 32, 0.08);
  --m3state-layerslighton-backgroundopacity-012: rgba(29, 27, 32, 0.12);
  --m3state-layerslighton-backgroundopacity-016: rgba(29, 27, 32, 0.16);
  --m3state-layerslightsurfaceopacity-008: rgba(254, 247, 255, 0.08);
  --m3state-layerslightsurfaceopacity-012: rgba(254, 247, 255, 0.12);
  --m3state-layerslightsurfaceopacity-016: rgba(254, 247, 255, 0.16);
  --m3state-layerslighton-surfaceopacity-008: rgba(29, 27, 32, 0.08);
  --m3state-layerslighton-surfaceopacity-012: rgba(29, 27, 32, 0.12);
  --m3state-layerslighton-surfaceopacity-016: rgba(29, 27, 32, 0.16);
  --m3state-layerslightsurface-variantopacity-008: rgba(231, 224, 236, 0.08);
  --m3state-layerslightsurface-variantopacity-012: rgba(231, 224, 236, 0.12);
  --m3state-layerslightsurface-variantopacity-016: rgba(231, 224, 236, 0.16);
  --m3state-layerslighton-surface-variantopacity-008: rgba(73, 69, 79, 0.08);
  --m3state-layerslighton-surface-variantopacity-012: rgba(73, 69, 79, 0.12);
  --m3state-layerslighton-surface-variantopacity-016: rgba(73, 69, 79, 0.16);
  --m3state-layerslightinverse-surfaceopacity-008: rgba(50, 47, 53, 0.08);
  --m3state-layerslightinverse-surfaceopacity-012: rgba(50, 47, 53, 0.12);
  --m3state-layerslightinverse-surfaceopacity-016: rgba(50, 47, 53, 0.16);
  --m3state-layerslightinverse-on-surfaceopacity-008: rgba(245, 239, 247, 0.08);
  --m3state-layerslightinverse-on-surfaceopacity-012: rgba(245, 239, 247, 0.12);
  --m3state-layerslightinverse-on-surfaceopacity-016: rgba(245, 239, 247, 0.16);
  --m3state-layerslightinverse-primaryopacity-008: rgba(208, 188, 255, 0.08);
  --m3state-layerslightinverse-primaryopacity-012: rgba(208, 188, 255, 0.12);
  --m3state-layerslightinverse-primaryopacity-016: rgba(208, 188, 255, 0.16);
  --m3state-layerslightshadowopacity-008: rgba(0, 0, 0, 0.08);
  --m3state-layerslightshadowopacity-012: rgba(0, 0, 0, 0.12);
  --m3state-layerslightshadowopacity-016: rgba(0, 0, 0, 0.16);
  --m3state-layerslightsurface-tintopacity-008: rgba(103, 80, 164, 0.08);
  --m3state-layerslightsurface-tintopacity-012: rgba(103, 80, 164, 0.12);
  --m3state-layerslightsurface-tintopacity-016: rgba(103, 80, 164, 0.16);
  --m3state-layerslightoutline-variantopacity-008: rgba(202, 196, 208, 0.08);
  --m3state-layerslightoutline-variantopacity-012: rgba(202, 196, 208, 0.12);
  --m3state-layerslightoutline-variantopacity-016: rgba(202, 196, 208, 0.16);
  --m3state-layerslightscrimopacity-008: rgba(0, 0, 0, 0.08);
  --m3state-layerslightscrimopacity-012: rgba(0, 0, 0, 0.12);
  --m3state-layerslightscrimopacity-016: rgba(0, 0, 0, 0.16);
  --m3state-layerslightsurface-container-highestopacity-008: rgba(230, 224, 233, 0.08);
  --m3state-layerslightsurface-container-highestopacity-012: rgba(230, 224, 233, 0.12);
  --m3state-layerslightsurface-container-highestopacity-016: rgba(230, 224, 233, 0.16);
  --m3state-layerslightsurface-container-highopacity-008: rgba(236, 230, 240, 0.08);
  --m3state-layerslightsurface-container-highopacity-012: rgba(236, 230, 240, 0.12);
  --m3state-layerslightsurface-container-highopacity-016: rgba(236, 230, 240, 0.16);
  --m3state-layerslightsurface-containeropacity-008: rgba(243, 237, 247, 0.08);
  --m3state-layerslightsurface-containeropacity-012: rgba(243, 237, 247, 0.12);
  --m3state-layerslightsurface-containeropacity-016: rgba(243, 237, 247, 0.16);
  --m3state-layerslightsurface-container-lowopacity-008: rgba(247, 242, 250, 0.08);
  --m3state-layerslightsurface-container-lowopacity-012: rgba(247, 242, 250, 0.12);
  --m3state-layerslightsurface-container-lowopacity-016: rgba(247, 242, 250, 0.16);
  --m3state-layerslightsurface-container-lowestopacity-008: rgba(255, 255, 255, 0.08);
  --m3state-layerslightsurface-container-lowestopacity-012: rgba(255, 255, 255, 0.12);
  --m3state-layerslightsurface-container-lowestopacity-016: rgba(255, 255, 255, 0.16);
  --m3state-layerslightsurface-brightopacity-008: rgba(254, 247, 255, 0.08);
  --m3state-layerslightsurface-brightopacity-012: rgba(254, 247, 255, 0.12);
  --m3state-layerslightsurface-brightopacity-016: rgba(254, 247, 255, 0.16);
  --m3state-layerslightsurface-dimopacity-008: rgba(222, 216, 225, 0.08);
  --m3state-layerslightsurface-dimopacity-012: rgba(222, 216, 225, 0.12);
  --m3state-layerslightsurface-dimopacity-016: rgba(222, 216, 225, 0.16);
  --m3state-layersdarkprimaryopacity-008: rgba(208, 188, 255, 0.08);
  --m3state-layersdarkprimaryopacity-012: rgba(208, 188, 255, 0.12);
  --m3state-layersdarkprimaryopacity-016: rgba(208, 188, 255, 0.16);
  --m3state-layersdarkon-primaryopacity-008: rgba(56, 30, 114, 0.08);
  --m3state-layersdarkon-primaryopacity-012: rgba(56, 30, 114, 0.12);
  --m3state-layersdarkon-primaryopacity-016: rgba(56, 30, 114, 0.16);
  --m3state-layersdarkprimary-containeropacity-008: rgba(79, 55, 139, 0.08);
  --m3state-layersdarkprimary-containeropacity-012: rgba(79, 55, 139, 0.12);
  --m3state-layersdarkprimary-containeropacity-016: rgba(79, 55, 139, 0.16);
  --m3state-layersdarkon-primary-containeropacity-008: rgba(234, 221, 255, 0.08);
  --m3state-layersdarkon-primary-containeropacity-012: rgba(234, 221, 255, 0.12);
  --m3state-layersdarkon-primary-containeropacity-016: rgba(234, 221, 255, 0.16);
  --m3state-layersdarkprimary-fixedopacity-008: rgba(234, 221, 255, 0.08);
  --m3state-layersdarkprimary-fixedopacity-012: rgba(234, 221, 255, 0.12);
  --m3state-layersdarkprimary-fixedopacity-016: rgba(234, 221, 255, 0.16);
  --m3state-layersdarkon-primary-fixedopacity-008: rgba(33, 0, 93, 0.08);
  --m3state-layersdarkon-primary-fixedopacity-012: rgba(33, 0, 93, 0.12);
  --m3state-layersdarkon-primary-fixedopacity-016: rgba(33, 0, 93, 0.16);
  --m3state-layersdarkprimary-fixed-dimopacity-008: rgba(208, 188, 255, 0.08);
  --m3state-layersdarkprimary-fixed-dimopacity-012: rgba(208, 188, 255, 0.12);
  --m3state-layersdarkprimary-fixed-dimopacity-016: rgba(208, 188, 255, 0.16);
  --m3state-layersdarkon-primary-fixed-variantopacity-008: rgba(79, 55, 139, 0.08);
  --m3state-layersdarkon-primary-fixed-variantopacity-012: rgba(79, 55, 139, 0.12);
  --m3state-layersdarkon-primary-fixed-variantopacity-016: rgba(79, 55, 139, 0.16);
  --m3state-layersdarksecondaryopacity-008: rgba(204, 194, 220, 0.08);
  --m3state-layersdarksecondaryopacity-012: rgba(204, 194, 220, 0.12);
  --m3state-layersdarksecondaryopacity-016: rgba(204, 194, 220, 0.16);
  --m3state-layersdarkon-secondaryopacity-008: rgba(51, 45, 65, 0.08);
  --m3state-layersdarkon-secondaryopacity-012: rgba(51, 45, 65, 0.12);
  --m3state-layersdarkon-secondaryopacity-016: rgba(51, 45, 65, 0.16);
  --m3state-layersdarksecondary-containeropacity-008: rgba(74, 68, 88, 0.08);
  --m3state-layersdarksecondary-containeropacity-012: rgba(74, 68, 88, 0.12);
  --m3state-layersdarksecondary-containeropacity-016: rgba(74, 68, 88, 0.16);
  --m3state-layersdarkon-secondary-containeropacity-008: rgba(232, 222, 248, 0.08);
  --m3state-layersdarkon-secondary-containeropacity-012: rgba(232, 222, 248, 0.12);
  --m3state-layersdarkon-secondary-containeropacity-016: rgba(232, 222, 248, 0.16);
  --m3state-layersdarksecondary-fixedopacity-008: rgba(232, 222, 248, 0.08);
  --m3state-layersdarksecondary-fixedopacity-012: rgba(232, 222, 248, 0.12);
  --m3state-layersdarksecondary-fixedopacity-016: rgba(232, 222, 248, 0.16);
  --m3state-layersdarkon-secondary-fixedopacity-008: rgba(29, 25, 43, 0.08);
  --m3state-layersdarkon-secondary-fixedopacity-012: rgba(29, 25, 43, 0.12);
  --m3state-layersdarkon-secondary-fixedopacity-016: rgba(29, 25, 43, 0.16);
  --m3state-layersdarksecondary-fixed-dimopacity-008: rgba(204, 194, 220, 0.08);
  --m3state-layersdarksecondary-fixed-dimopacity-012: rgba(204, 194, 220, 0.12);
  --m3state-layersdarksecondary-fixed-dimopacity-016: rgba(204, 194, 220, 0.16);
  --m3state-layersdarkon-secondary-fixed-variantopacity-008: rgba(74, 68, 88, 0.08);
  --m3state-layersdarkon-secondary-fixed-variantopacity-012: rgba(74, 68, 88, 0.12);
  --m3state-layersdarkon-secondary-fixed-variantopacity-016: rgba(74, 68, 88, 0.16);
  --m3state-layersdarktertiaryopacity-008: rgba(239, 184, 200, 0.08);
  --m3state-layersdarktertiaryopacity-012: rgba(239, 184, 200, 0.12);
  --m3state-layersdarktertiaryopacity-016: rgba(239, 184, 200, 0.16);
  --m3state-layersdarkon-tertiaryopacity-008: rgba(73, 37, 50, 0.08);
  --m3state-layersdarkon-tertiaryopacity-012: rgba(73, 37, 50, 0.12);
  --m3state-layersdarkon-tertiaryopacity-016: rgba(73, 37, 50, 0.16);
  --m3state-layersdarktertiary-containeropacity-008: rgba(99, 59, 72, 0.08);
  --m3state-layersdarktertiary-containeropacity-012: rgba(99, 59, 72, 0.12);
  --m3state-layersdarktertiary-containeropacity-016: rgba(99, 59, 72, 0.16);
  --m3state-layersdarkon-tertiary-containeropacity-008: rgba(255, 216, 228, 0.08);
  --m3state-layersdarkon-tertiary-containeropacity-012: rgba(255, 216, 228, 0.12);
  --m3state-layersdarkon-tertiary-containeropacity-016: rgba(255, 216, 228, 0.16);
  --m3state-layersdarktertiary-fixedopacity-008: rgba(255, 216, 228, 0.08);
  --m3state-layersdarktertiary-fixedopacity-012: rgba(255, 216, 228, 0.12);
  --m3state-layersdarktertiary-fixedopacity-016: rgba(255, 216, 228, 0.16);
  --m3state-layersdarkon-tertiary-fixedopacity-008: rgba(49, 17, 29, 0.08);
  --m3state-layersdarkon-tertiary-fixedopacity-012: rgba(49, 17, 29, 0.12);
  --m3state-layersdarkon-tertiary-fixedopacity-016: rgba(49, 17, 29, 0.16);
  --m3state-layersdarktertiary-fixed-dimopacity-008: rgba(239, 184, 200, 0.08);
  --m3state-layersdarktertiary-fixed-dimopacity-012: rgba(239, 184, 200, 0.12);
  --m3state-layersdarktertiary-fixed-dimopacity-016: rgba(239, 184, 200, 0.16);
  --m3state-layersdarkon-tertiary-fixed-variantopacity-008: rgba(99, 59, 72, 0.08);
  --m3state-layersdarkon-tertiary-fixed-variantopacity-012: rgba(99, 59, 72, 0.12);
  --m3state-layersdarkon-tertiary-fixed-variantopacity-016: rgba(99, 59, 72, 0.16);
  --m3state-layersdarkerroropacity-008: rgba(242, 184, 181, 0.08);
  --m3state-layersdarkerroropacity-012: rgba(242, 184, 181, 0.12);
  --m3state-layersdarkerroropacity-016: rgba(242, 184, 181, 0.16);
  --m3state-layersdarkon-erroropacity-008: rgba(96, 20, 16, 0.08);
  --m3state-layersdarkon-erroropacity-012: rgba(96, 20, 16, 0.12);
  --m3state-layersdarkon-erroropacity-016: rgba(96, 20, 16, 0.16);
  --m3state-layersdarkerror-containeropacity-008: rgba(140, 29, 24, 0.08);
  --m3state-layersdarkerror-containeropacity-012: rgba(140, 29, 24, 0.12);
  --m3state-layersdarkerror-containeropacity-016: rgba(140, 29, 24, 0.16);
  --m3state-layersdarkon-error-containeropacity-008: rgba(249, 222, 220, 0.08);
  --m3state-layersdarkon-error-containeropacity-012: rgba(249, 222, 220, 0.12);
  --m3state-layersdarkon-error-containeropacity-016: rgba(249, 222, 220, 0.16);
  --m3state-layersdarkoutlineopacity-008: rgba(147, 143, 153, 0.08);
  --m3state-layersdarkoutlineopacity-012: rgba(147, 143, 153, 0.12);
  --m3state-layersdarkoutlineopacity-016: rgba(147, 143, 153, 0.16);
  --m3state-layersdarkbackgroundopacity-008: rgba(20, 18, 24, 0.08);
  --m3state-layersdarkbackgroundopacity-012: rgba(20, 18, 24, 0.12);
  --m3state-layersdarkbackgroundopacity-016: rgba(20, 18, 24, 0.16);
  --m3state-layersdarkon-backgroundopacity-008: rgba(230, 224, 233, 0.08);
  --m3state-layersdarkon-backgroundopacity-012: rgba(230, 224, 233, 0.12);
  --m3state-layersdarkon-backgroundopacity-016: rgba(230, 224, 233, 0.16);
  --m3state-layersdarksurfaceopacity-008: rgba(20, 18, 24, 0.08);
  --m3state-layersdarksurfaceopacity-012: rgba(20, 18, 24, 0.12);
  --m3state-layersdarksurfaceopacity-016: rgba(20, 18, 24, 0.16);
  --m3state-layersdarkon-surfaceopacity-008: rgba(230, 224, 233, 0.08);
  --m3state-layersdarkon-surfaceopacity-012: rgba(230, 224, 233, 0.12);
  --m3state-layersdarkon-surfaceopacity-016: rgba(230, 224, 233, 0.16);
  --m3state-layersdarksurface-variantopacity-008: rgba(73, 69, 79, 0.08);
  --m3state-layersdarksurface-variantopacity-012: rgba(73, 69, 79, 0.12);
  --m3state-layersdarksurface-variantopacity-016: rgba(73, 69, 79, 0.16);
  --m3state-layersdarkon-surface-variantopacity-008: rgba(202, 196, 208, 0.08);
  --m3state-layersdarkon-surface-variantopacity-012: rgba(202, 196, 208, 0.12);
  --m3state-layersdarkon-surface-variantopacity-016: rgba(202, 196, 208, 0.16);
  --m3state-layersdarkinverse-surfaceopacity-008: rgba(230, 224, 233, 0.08);
  --m3state-layersdarkinverse-surfaceopacity-012: rgba(230, 224, 233, 0.12);
  --m3state-layersdarkinverse-surfaceopacity-016: rgba(230, 224, 233, 0.16);
  --m3state-layersdarkinverse-on-surfaceopacity-008: rgba(50, 47, 53, 0.08);
  --m3state-layersdarkinverse-on-surfaceopacity-012: rgba(50, 47, 53, 0.12);
  --m3state-layersdarkinverse-on-surfaceopacity-016: rgba(50, 47, 53, 0.16);
  --m3state-layersdarkinverse-primaryopacity-008: rgba(103, 80, 164, 0.08);
  --m3state-layersdarkinverse-primaryopacity-012: rgba(103, 80, 164, 0.12);
  --m3state-layersdarkinverse-primaryopacity-016: rgba(103, 80, 164, 0.16);
  --m3state-layersdarkshadowopacity-008: rgba(0, 0, 0, 0.08);
  --m3state-layersdarkshadowopacity-012: rgba(0, 0, 0, 0.12);
  --m3state-layersdarkshadowopacity-016: rgba(0, 0, 0, 0.16);
  --m3state-layersdarksurface-tintopacity-008: rgba(208, 188, 255, 0.08);
  --m3state-layersdarksurface-tintopacity-012: rgba(208, 188, 255, 0.12);
  --m3state-layersdarksurface-tintopacity-016: rgba(208, 188, 255, 0.16);
  --m3state-layersdarkoutline-variantopacity-008: rgba(73, 69, 79, 0.08);
  --m3state-layersdarkoutline-variantopacity-012: rgba(73, 69, 79, 0.12);
  --m3state-layersdarkoutline-variantopacity-016: rgba(73, 69, 79, 0.16);
  --m3state-layersdarkscrimopacity-008: rgba(0, 0, 0, 0.08);
  --m3state-layersdarkscrimopacity-012: rgba(0, 0, 0, 0.12);
  --m3state-layersdarkscrimopacity-016: rgba(0, 0, 0, 0.16);
  --m3state-layersdarksurface-container-highestopacity-008: rgba(54, 52, 59, 0.08);
  --m3state-layersdarksurface-container-highestopacity-012: rgba(54, 52, 59, 0.12);
  --m3state-layersdarksurface-container-highestopacity-016: rgba(54, 52, 59, 0.16);
  --m3state-layersdarksurface-container-highopacity-008: rgba(43, 41, 48, 0.08);
  --m3state-layersdarksurface-container-highopacity-012: rgba(43, 41, 48, 0.12);
  --m3state-layersdarksurface-container-highopacity-016: rgba(43, 41, 48, 0.16);
  --m3state-layersdarksurface-containeropacity-008: rgba(33, 31, 38, 0.08);
  --m3state-layersdarksurface-containeropacity-012: rgba(33, 31, 38, 0.12);
  --m3state-layersdarksurface-containeropacity-016: rgba(33, 31, 38, 0.16);
  --m3state-layersdarksurface-container-lowopacity-008: rgba(29, 27, 32, 0.08);
  --m3state-layersdarksurface-container-lowopacity-012: rgba(29, 27, 32, 0.12);
  --m3state-layersdarksurface-container-lowopacity-016: rgba(29, 27, 32, 0.16);
  --m3state-layersdarksurface-container-lowestopacity-008: rgba(15, 13, 19, 0.08);
  --m3state-layersdarksurface-container-lowestopacity-012: rgba(15, 13, 19, 0.12);
  --m3state-layersdarksurface-container-lowestopacity-016: rgba(15, 13, 19, 0.16);
  --m3state-layersdarksurface-brightopacity-008: rgba(59, 56, 62, 0.08);
  --m3state-layersdarksurface-brightopacity-012: rgba(59, 56, 62, 0.12);
  --m3state-layersdarksurface-brightopacity-016: rgba(59, 56, 62, 0.16);
  --m3state-layersdarksurface-dimopacity-008: rgba(20, 18, 24, 0.08);
  --m3state-layersdarksurface-dimopacity-012: rgba(20, 18, 24, 0.12);
  --m3state-layersdarksurface-dimopacity-016: rgba(20, 18, 24, 0.16);
  --m3-display-large-font-family: "Roboto-Regular", Helvetica;
  --m3-display-large-font-weight: 400;
  --m3-display-large-font-size: 57px;
  --m3-display-large-letter-spacing: -0.25px;
  --m3-display-large-line-height: 64px;
  --m3-display-large-font-style: normal;
  --m3-display-medium-font-family: "Roboto-Regular", Helvetica;
  --m3-display-medium-font-weight: 400;
  --m3-display-medium-font-size: 45px;
  --m3-display-medium-letter-spacing: 0px;
  --m3-display-medium-line-height: 52px;
  --m3-display-medium-font-style: normal;
  --m3-display-small-font-family: "Roboto-Regular", Helvetica;
  --m3-display-small-font-weight: 400;
  --m3-display-small-font-size: 36px;
  --m3-display-small-letter-spacing: 0px;
  --m3-display-small-line-height: 44px;
  --m3-display-small-font-style: normal;
  --m3-headline-large-font-family: "Roboto-Regular", Helvetica;
  --m3-headline-large-font-weight: 400;
  --m3-headline-large-font-size: 32px;
  --m3-headline-large-letter-spacing: 0px;
  --m3-headline-large-line-height: 40px;
  --m3-headline-large-font-style: normal;
  --m3-headline-medium-font-family: "Roboto-Regular", Helvetica;
  --m3-headline-medium-font-weight: 400;
  --m3-headline-medium-font-size: 28px;
  --m3-headline-medium-letter-spacing: 0px;
  --m3-headline-medium-line-height: 36px;
  --m3-headline-medium-font-style: normal;
  --m3-headline-small-font-family: "Roboto-Regular", Helvetica;
  --m3-headline-small-font-weight: 400;
  --m3-headline-small-font-size: 24px;
  --m3-headline-small-letter-spacing: 0px;
  --m3-headline-small-line-height: 32px;
  --m3-headline-small-font-style: normal;
  --m3-title-large-font-family: "Roboto-Regular", Helvetica;
  --m3-title-large-font-weight: 400;
  --m3-title-large-font-size: 22px;
  --m3-title-large-letter-spacing: 0px;
  --m3-title-large-line-height: 28px;
  --m3-title-large-font-style: normal;
  --m3-title-medium-font-family: "Roboto-Medium", Helvetica;
  --m3-title-medium-font-weight: 500;
  --m3-title-medium-font-size: 16px;
  --m3-title-medium-letter-spacing: 0.15000000596046448px;
  --m3-title-medium-line-height: 24px;
  --m3-title-medium-font-style: normal;
  --m3-title-small-font-family: "Roboto-Medium", Helvetica;
  --m3-title-small-font-weight: 500;
  --m3-title-small-font-size: 14px;
  --m3-title-small-letter-spacing: 0.10000000149011612px;
  --m3-title-small-line-height: 20px;
  --m3-title-small-font-style: normal;
  --m3-body-large-font-family: "Roboto-Regular", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-body-medium-font-family: "Roboto-Regular", Helvetica;
  --m3-body-medium-font-weight: 400;
  --m3-body-medium-font-size: 14px;
  --m3-body-medium-letter-spacing: 0.25px;
  --m3-body-medium-line-height: 20px;
  --m3-body-medium-font-style: normal;
  --m3-body-small-font-family: "Roboto-Regular", Helvetica;
  --m3-body-small-font-weight: 400;
  --m3-body-small-font-size: 12px;
  --m3-body-small-letter-spacing: 0px;
  --m3-body-small-line-height: 16px;
  --m3-body-small-font-style: normal;
  --m3-label-large-prominent-font-family: "Roboto-SemiBold", Helvetica;
  --m3-label-large-prominent-font-weight: 600;
  --m3-label-large-prominent-font-size: 14px;
  --m3-label-large-prominent-letter-spacing: 0.10000000149011612px;
  --m3-label-large-prominent-line-height: 20px;
  --m3-label-large-prominent-font-style: normal;
  --m3-label-large-font-family: "Roboto-Medium", Helvetica;
  --m3-label-large-font-weight: 500;
  --m3-label-large-font-size: 14px;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-label-large-font-style: normal;
  --m3-label-medium-prominent-font-family: "Roboto-SemiBold", Helvetica;
  --m3-label-medium-prominent-font-weight: 600;
  --m3-label-medium-prominent-font-size: 12px;
  --m3-label-medium-prominent-letter-spacing: 0.5px;
  --m3-label-medium-prominent-line-height: 16px;
  --m3-label-medium-prominent-font-style: normal;
  --m3-label-medium-font-family: "Roboto-Medium", Helvetica;
  --m3-label-medium-font-weight: 500;
  --m3-label-medium-font-size: 12px;
  --m3-label-medium-letter-spacing: 0.5px;
  --m3-label-medium-line-height: 16px;
  --m3-label-medium-font-style: normal;
  --m3-label-small-font-family: "Roboto-Medium", Helvetica;
  --m3-label-small-font-weight: 500;
  --m3-label-small-font-size: 11px;
  --m3-label-small-letter-spacing: 0.5px;
  --m3-label-small-line-height: 16px;
  --m3-label-small-font-style: normal;
  --m3-elevation-light-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --m3-elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --m3-elevation-light-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
  --m3-elevation-dark-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --m3-elevation-dark-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --m3-elevation-dark-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --m3-elevation-dark-4: 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 6px 10px 4px rgba(0, 0, 0, 0.15);
  --m3-elevation-dark-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
}
