<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block metadata %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% for x in get_required_js() %}
    <script src="{{ url_for('static', filename=x) }}" defer></script>
    {% endfor %}
    {% for x in get_required_css() %}
    <link rel="stylesheet" href="{{ url_for('static', filename=x) }}" />
    {% endfor %}
    {% block html_head %}{% endblock %}
</head>
<body>
    {% block html_body %}{% endblock %}
</body>
</html>