<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lobby/style.css') }}" />
</head>
  <body>
    <div class="macbook-pro">
      <div class="div">
        <div class="overlap">
          <div class="menu-dark">
            <div class="div-2">
              <div class="div-3"></div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text">Create a New Room</div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text">Join a Room</div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text"></div></div>
                </div>
              </div>
              <div class="div-3"></div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text">Logout</div></div>
                </div>
              </div>
              <div class="div-3">
                <div class="state-layer">
                  <div class="div-2"><div class="label-text">Settings</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-wrapper">Menu</div>
        </div>
        <div class="overlap-group">
          <div class="overlap-2">
            <div class="text-wrapper-2">Current User :</div>
            <div class="text-wrapper-3">User 1</div>
          </div>
          <div class="user-images-user"><img class="check" src="{{ url_for('static', filename='img/lobby/check.svg') }}" /></div>
        </div>
        <div class="list-dialog-dark">
          <div class="content">
            <div class="text-content">
              <div class="headline">Existing Rooms</div>
              <p class="supporting-text">A list of rooms that other users have created</p>
            </div>
          </div>
          <div class="div-3">
            <div class="list-item">
              <div class="state-layer-overlay"></div>
              <div class="state-layer-2">
                <div class="leading-element">
                  <div class="building-blocks"><div class="initial">A</div></div>
                </div>
                <div class="content-2"><div class="headline-2">Red Room</div></div>
                <div class="trailing-element"></div>
              </div>
              <div class="horizontal-dark"><img class="divider" src="{{ url_for('static', filename='img/lobby/divider-18.svg') }}" /></div>
            </div>
            <div class="list-item">
              <div class="state-layer-overlay"></div>
              <div class="state-layer-2">
                <div class="leading-element">
                  <div class="building-blocks"><div class="initial">A</div></div>
                </div>
                <div class="content-2"><div class="headline-2">Earth Room</div></div>
              </div>
              <div class="horizontal-dark"><img class="divider" src="{{ url_for('static', filename='img/lobby/divider-18.svg') }}" /></div>
            </div>
            <div class="list-item">
              <div class="state-layer-overlay-2"></div>
              <div class="state-layer-2">
                <div class="leading-element">
                  <div class="building-blocks"><div class="initial">A</div></div>
                </div>
                <div class="content-2"><div class="headline-2">Hangout Spot</div></div>
                <div class="trailing-element"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="scrollable-list">
            <div class="overlap-group-2">
              <div class="content-3">
                <div class="text-content-wrapper">
                  <div class="text-content">
                    <div class="headline">Online Users</div>
                    <p class="p">Users who are currently Online</p>
                  </div>
                </div>
                <div class="list-container">
                  <div class="list-dark">
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">User 1</div></div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-33.svg') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">User 2</div></div>
                        <div class="trailing-element"></div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-33.svg') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">User 3</div></div>
                        <div class="trailing-element"></div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-3"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="horizontal-dark"><img class="img" src="{{ url_for('static', filename='img/lobby/divider-24.png') }}" /></div>
                    </div>
                    <div class="list-item">
                      <div class="state-layer-overlay-4"></div>
                      <div class="state-layer-2">
                        <div class="leading-element">
                          <div class="building-blocks"><div class="initial">A</div></div>
                        </div>
                        <div class="content-2"><div class="headline-2">List item</div></div>
                        <div class="trailing-element">
                          <div class="checkboxes-dark">
                            <div class="state-layer-3">
                              <div class="container"></div>
                              <img class="icons-check-small" src="{{ url_for('static', filename='img/lobby/icons-check-small-92.png') }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="actions">
                <div class="state-layer-wrapper">
                  <div class="label-text-wrapper"><div class="label-text-2">Direct Message</div></div>
                </div>
                <div class="state-layer-wrapper">
                  <div class="label-text-wrapper"><div class="label-text-3"></div></div>
                </div>
              </div>
            </div>
          </div>
          <img class="icons-radio-button" src="{{ url_for('static', filename='img/lobby/icons-radio-button-checked.svg') }}" />
          <img class="icons-radio-button-2" src="{{ url_for('static', filename='img/lobby/icons-radio-button-checked.svg') }}" />
          <img class="icons-radio-button-3" src="{{ url_for('static', filename='img/lobby/icons-radio-button-checked.svg') }}" />
        </div>
      </div>
    </div>
  </body>
</html>
