{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login/style.css') }}" />
<script src="{{ url_for('static', filename='js/authentication/authentication.js') }}" defer></script>
{% endblock %}

{% block html_body %}
<div class="body-container">
    <div>
        <div class="title-text-wrapper">Banter Box</div>
        <div class="overlap-group">
            <div class="basic-dialog-dark">
                <div class="text-content">
                    <div class="title-description">
                        <div class="headline">Login</div>
                        <p class="supporting-text">Sign in to your Banter Box Account</p>
                    </div>
                    <!-- Start of form -->
                    <form id="loginForm" class="form-content" method="POST" action="{{ url_for('api.user_login') }}">
                        <div class="input-chip-dark">
                            <label for="username" class="label-text-wrapper">
                                <div class="text-wrapper">User Name :</div>
                            </label>
                            <input class="input-text" type="text" id="username" name="username" placeholder="Enter your username" autocomplete="username" required />
                        </div>
                        <div class="input-chip-dark">
                            <label for="password" class="label-text-wrapper">
                                <div class="text-wrapper">Password :</div>
                            </label>
                            <input  class="input-text" type="password" id="password" name="password" placeholder="Enter your password" autocomplete="current-password" required />
                        </div>
                        <button type="submit" class="button-dark">
                            <div class="state-layer"><div class="label-text">Login</div></div>
                        </button>
                    </form>
                    <!-- End of form -->
                    <button class="button-dark">
                        <div class="state-layer">
                            <a href="{{ url_for('template.fetch_templates', name='registration') }}" class="label-text">Register</a>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
