<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login/style.css') }}" />
  </head>
  <body>
    <div class="macbook-pro">
      <div class="div">
        <div class="overlap-group">
          <div class="basic-dialog-dark">
            <div class="text-content">
              <div class="title-description">
                <div class="headline">Login</div>
                <p class="supporting-text">Sign in to your Banter Box Account</p>
              </div>
            </div>
          </div>
          <button class="button-dark">
            <div class="state-layer"><div class="label-text">Register</div></div>
          </button>
          <div class="input-chip-dark">
            <div class="label-text-wrapper"><div class="text-wrapper">User Name</div></div>
          </div>
          <button class="state-layer-wrapper">
            <div class="state-layer"><div class="label-text">Login</div></div>
          </button>
          <div class="div-wrapper">
            <div class="state-layer"><div class="label-text">Exit</div></div>
          </div>
          <div class="text-wrapper-2">User Name :</div>
          <div class="password">Password&nbsp;&nbsp;:</div>
          <div class="input-chip-dark">
            <div class="label-text-wrapper"><div class="text-wrapper">User Name</div></div>
          </div>
          <div class="input-chip-dark-2">
            <div class="label-text-wrapper"><div class="text-wrapper">Password</div></div>
          </div>
        </div>
        <div class="text-wrapper-3">Banter Box</div>
        <img class="rectangle" src="{{ url_for('static', filename='img/login/rectangle-1.svg') }}" />
        <img class="img" src="{{ url_for('static', filename='img/login/rectangle-2.png') }}" />
      </div>
    </div>
  </body>
</html>
