{% extends 'base.html' %}

{% block title %}Lobby{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login/style.css') }}" />
{% endblock %}

{% block html_body %}
<div class="macbook-pro">
    <div class="div">
        <div class="overlap-group">
            <div class="basic-dialog-dark">
                <div class="text-content">
                    <div class="title-description">
                        <div class="headline">Login</div>
                        <p class="supporting-text">Sign in to your Banter Box Account</p>
                    </div>
                    <!-- Start of form -->
                    <form method="POST" action="{{ url_for('api.user_login') }}">
                        <div class="input-chip-dark">
                            <label for="username" class="label-text-wrapper">
                                <div class="text-wrapper">User Name :</div>
                            </label>
                            <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                        <div class="input-chip-dark-2">
                            <label for="password" class="label-text-wrapper">
                                <div class="text-wrapper">Password :</div>
                            </label>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        <button type="submit" class="button-dark">Login</button>
                    </form>
                    <!-- End of form -->
                    <button class="button-dark">
                        <div class="state-layer"><div class="label-text">Register</div></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="text-wrapper-3">Banter Box</div>
    </div>
</div>
{% endblock %}
