{% extends 'base.html' %}

{% block title %}Lobby{% endblock %}

{% block html_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registration/style.css') }}" />
{% endblock %}

{% block html_body %}
<div class="macbook-pro">
    <div class="div">
        <form method="POST" action="{{ url_for('register') }}" class="overlap-group">
            <div class="basic-dialog-dark">
                <div class="text-content">
                    <div class="title-description">
                        <div class="headline">Create an Account</div>
                        <p class="supporting-text">Complete this registration in order to create an account.</p>
                    </div>
                </div>
            </div>
            
            <div class="input-chip-dark">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            
            <div class="input-chip-dark-4">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            
            <div class="input-chip-dark-3">
                <input type="text" name="name" placeholder="First and Last Name" required>
            </div>
            
            <div class="input-chip-dark-2">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            
            <div class="input-chip-dark-5">
                <input type="password" name="password_confirm" placeholder="Re-enter Password" required>
            </div>
            
            <button type="submit" class="button-dark">Submit</button>
            <button type="button" class="button-dark" onclick="location.href='{{ url_for('index') }}'">Cancel</button>
        </form>
        <div class="text-wrapper-6">Registration</div>
    </div>
</div>
{% endblock %}
