<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration/style.css') }}" />
</head>
  <body>
    <div class="macbook-pro">
      <div class="div">
        <div class="overlap-group">
          <div class="basic-dialog-dark">
            <div class="text-content">
              <div class="title-description">
                <div class="headline">Create an Account</div>
                <p class="supporting-text">Complete this registration in order to create an account.</p>
              </div>
            </div>
          </div>
          <button class="button-dark">
            <div class="state-layer"><div class="label-text">Cancel</div></div>
          </button>
          <button class="state-layer-wrapper">
            <div class="state-layer"><div class="label-text">Submit</div></div>
          </button>
          <div class="text-wrapper">Email</div>
          <div class="input-chip-dark">
            <div class="label-text-wrapper"><div class="label-text-2">Email</div></div>
          </div>
          <div class="text-wrapper-2">Password</div>
          <div class="div-wrapper">
            <div class="label-text-wrapper"><div class="label-text-2">Password</div></div>
          </div>
          <div class="input-chip-dark-2">
            <div class="state-layer-2"><div class="label-text-2">Last</div></div>
          </div>
          <div class="text-wrapper-3">Name</div>
          <div class="text-wrapper-4">Username</div>
          <div class="input-chip-dark-3">
            <div class="state-layer-2"><div class="label-text-2">First</div></div>
          </div>
          <div class="input-chip-dark-4">
            <div class="label-text-wrapper"><div class="label-text-2">Username</div></div>
          </div>
          <div class="text-wrapper-5">Re-enter Password</div>
          <div class="input-chip-dark-5">
            <div class="label-text-wrapper"><div class="label-text-2">Username</div></div>
          </div>
        </div>
        <div class="text-wrapper-6">Registration</div>
        <img class="rectangle" src="{{ url_for('static', filename='img/registration/rectangle-1.svg') }}" />
        <img class="img" src="{{ url_for('static', filename='img/registration/rectangle-2.png') }}" />
      </div>
    </div>
  </body>
</html>
