{% extends 'base.html' %}
{% block title %}Notification Settings{% endblock %}
{% block html_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Settings_notifications/style.css') }}" />
<source src="{{ url_for('static', filename='notificationTone.mp3') }}" type="audio/mp3">
{% endblock %}
{% block html_body %}
<div class="macbook-pro">
  <div class="div">
    <div class="overlap-group">
      <div class="assistive-chip-dark">
        <div class="state-layer"><div class="label-text">Bubble</div></div>
      </div>
      <div class="state-layer-wrapper">
        <div class="state-layer"><div class="label-text">Zap</div></div>
      </div>
      <div class="div-wrapper">
        <div class="state-layer"><div class="label-text">Ding</div></div>
      </div>
      <div class="continuous-dark">
        <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="volumeRange">
        </div>
      </div>
      <audio id="audioNotification" src="notification.mp3"></audio>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          //Notification Audio
          var slider = document.getElementById("volumeRange");
          var audioElement = document.getElementById("audioNotification");
          slider.oninput = function() {
            console.log(event.target.value / 100);
            var volume = event.target.value / 100;
            audioElement.volume = volume;
          }
        });
      </script>
      <div class="text-wrapper">Notification Volume:</div>
      <div class="text-wrapper-2">Notification Sound:</div>
      <div class="overlap">
        <div class="menu-dark">
          <div class="menu-list">
            <div class="menu-list-item"></div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <div class="content"><div class="label-text-2"></div></div>
              </div>
            </div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <div class="content"><div class="label-text-3">User Options</div></div>
              </div>
            </div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <div class="content"><div class="label-text-2"></div></div>
              </div>
            </div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <div class="content-2"><div class="label-text-3">Notifications</div></div>
              </div>
            </div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <div class="content"><div class="label-text-3"></div></div>
              </div>
            </div>
            <div class="menu-list-item">
              <div class="state-layer-2">
                <a href="{{ url_for('template.fetch_templates', name='Settings_Page_theme') }}" class="content-2"><div class="label-text-3">Theme</div></a>
              </div>
            </div>
            <div class="menu-list-item"></div>
            <div class="menu-list-item"></div>
          </div>
        </div>
        <div class="section-header">
          <div class="left"><div class="label"></div></div>
        </div>
      </div>
      <div class="headline">Notifications</div>
      <div class="assistive-chip-dark-2">
        <div class="state-layer"><div class="label-text">Buzz</div></div>
      </div>
    </div>
    <div class="rectangle">
      <div class="label-text-wrapper"><div class="label-text-4">Label</div></div>
      <div class="label-text-wrapper"><div class="label-text-4">Label</div></div>
      <img class="rectangle" src="{{ url_for('static', filename='img/Settings_Notifications/rectangle-1.svg') }}" />
    </div>
    <div class="text-wrapper-3">Settings</div>
    <img class="img" src="{{ url_for('static', filename='img/Settings_Notifications/rectangle-2.png') }}" />
  </div>
</div>
{% endblock %}
